.menu {
  margin-top: 25px;
}

.item {
  display: inline-block;
  border-right: 1px #004ca1 solid;
  text-align: center;
  background: #0b89ef;
  background: -webkit-linear-gradient(top, #0b89ef 0%,#0054ab 100%);
  transition: background 0.3s ease;
  font-size: 14px;

  &:last-child {
    border-right: none;
  }

  & > a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    line-height: 40px;
    outline: none;
    display: block;
  }
}

.item:hover {
  background: #1775c1;
  background: -webkit-linear-gradient(top, #1775c1 0%,#0f407a 100%);
  background: linear-gradient(to bottom, #1775c1 0%,#0f407a 100%);
}


.wager {
  width: 12%;
}

.video {
  width: 12%;
}

.handicapping {
  width: 16%;
}

.news {
  width: 12%;
}

.rewards {
  width: 12%;
}

.promotions {
  width: 25%;
}

.support {
  width: 11%;
}


@media screen and (max-width: 680px) {
  .item {
    font-size: 13px;
  }

  .handicapping,
  .news,
  .rewards {
    display: none;
  }

  .wager,
  .video,
  .support {
    width: 20%
  }

  .promotions {
    width: 40%;
  }
}

@media screen and (max-width: 390px) {

  .item {
    font-size: 14px;
  }

  .handicapping,
  .news,
  .rewards,
  .promotions {
    display: none;
  }

  .wager,
  .video,
  .support {
    width: 33.33%
  }

}
